name: DockerTest

on:
  push:
    branches: main

jobs:
  login:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT }}
          
  - name: Build and push Docker images
    uses: docker/build-push-action@v2.7.0
    with:
        push: true
        context: ${ {env.working-directory} }/WebApplication1
        tags: |
          ghcr.io/Kristianjimmefors/Dockertest:latest
          ghcr.io/Kristianjimmefors/Dockertest:${ { github.run_number } }
